# Игнорируем виртуальное окружение Python
.venv/
venv/

# Игнорируем настройки редактора/IDE
.vscode/
.idea/

# Игнорируем базу данных (если она локальная)
database.db
*.sqlite
*.db

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Файлы окружения
.env
.secrets